$secondary: #7097FF;
$neutro-50: #FAFAFA;
$neutro-200: #E4E4E7;
$neutro-300: #D4D4D8;
$neutro-400: #A1A1AA;
$neutro-500: #71717A;
$neutro-600: #52525B;
$neutro-700: #404040;
$neutro-800: #262626;
$color-brand:  #0147FF;
$dark-primary: #0B1D40;

$colors: (
  neutro-50: $neutro-50,
  neutro-200: $neutro-200,
  neutro-300: $neutro-300,
  neutro-400: $neutro-400,
  neutro-500: $neutro-500,
  neutro-600: $neutro-600,
  neutro-700: $neutro-700,
  neutro-800: $neutro-800,
);

@each $name, $color in $colors {
  .#{$name} {
    color: #{$color} !important;
  }
}