@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #E4E4E7;
  transition: 300ms;

  &:hover {
    text-shadow: 0 0 2px #0B1D40;
  }
}

button,
.btn {
  outline: none;
  border: none;
  padding: 12px 24px;
  color: #FFFF;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  width: max-content;
  background: #0147FF;
  box-shadow: 0px 4px 12px rgba(1, 71, 255, 0.32);
  border-radius: 8px;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    color: #FFFF;
    box-shadow: 0px 4px 12px rgba(1, 71, 255, 0.8);
  }
}

input {
  all: unset;
  transition: 300ms;

  &:invalid {
    border-bottom: 1px solid tomato;
  }
}

html {
  scroll-behavior: smooth;
}

@import './landing.scss';
@import './layouts';

.scroll-snap {
  scroll-snap-points-y: repeat(300px);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  will-change: scroll-position;
}

// CARD
.card {
  &-header {
    filter: drop-shadow(1px 6px 3px rgba(0, 0, 0, .1));
    margin-bottom: 32px;
  }

  &-description {
    padding: 20px;
    max-width: 336px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 12px;

    &::before {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 24px;
      border-radius: 3px;
      transform: rotate(45deg);
      @include screen(28px, 28px);
      background-color: #FFFFFF;
    }

    p {
      @include font(600, 13px, 18px);
      color: $neutro-600;
      max-width: 100%;
      width: max-content;
    }
  }

  &-content {
    @include flexbox($align: center, $gap: 13px);
  }

  &-figure {
    @include screen(56px, 56px);

    img {
      @include screen();
      object-fit: cover;
      clip-path: circle(50% at 50% 50%);
      background-color: #C4C4C4;
    }
  }

  &-descriptor {
    h3 {
      @include font(700, 15px, 19px);
      color: $neutro-800;
    }

    p {
      @include font(400, 14px, 18px);
      color: $neutro-500;
    }
  }
}

// END-CARD

.snap-start {
  scroll-snap-align: start;
}

/* Cursor */
// fade typed-cursor
.typed-cursor {
  opacity: 1;
  text-align: center;
  font-size: 3rem;
  color: #0147FF;
  animation: typedjsBlink 0.7s infinite;
}

/* If fade out option is set */

.typed-fade-out {
  opacity: 0;
  transition: opacity .25s;
  animation: 0;
}

@keyframes typedjsBlink {
  50% {
    opacity: 0.0;
  }
}

@-webkit-keyframes typedjsBlink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.0;
  }

  100% {
    opacity: 1;
  }
}

.slick-track {
  columns: 280px auto;
}

@media screen and (max-width: 768px) {
  .typed-cursor {
    font-size: xx-large;
  }

  // CARD
  .card {

    &-description {
      max-width: 272px;

      p {
        @include font_movil(12px, 16px);
      }
    }

    &-figure {
      @include screen(48px, 48px);

    }

    &-descriptor {
      h3 {
        @include font_movil(14px, 18px);
      }

      p {
        @include font_movil(13px, 16px);
      }
    }
  }
}

@media screen and (max-width: 480px) {

  * {
    font-size: 14px;
    line-height: 20px;
  }

  button,
  .btn {
    @include font_movil(15px, 22px);
  }

  .slick-track {
    columns: 244px auto;
    min-width: max-content;
  }
}